# Build artifacts (user-space)
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# Kernel module build artifacts
*.ko
*.o
*.mod
*.mod.c
*.mod.o
Module.symvers
modules.order
*.cmd
.tmp_versions/

# Root filesystems (VERY IMPORTANT)
rootfs-base/
rootfs-alpha/
rootfs-beta/

# Logs
logs/
